## 연산자 종류
### 연산자 : 기호
- 산술 연산자 : + | - | * | / | // | %
- 지수 연산자 : **
- 대입(복합) 연산자 : = | += | -= | *= | /= | //= | %=
- 관계(비교) 연산자 : > | >= | < | <= | == | !=
- 논리 연산자 : not | and | or
- 멤버 연산자 : in | not in

## 연산자

In [2]:
num1 = 100
num2 = 7

print('나누기:', num1/num2)
print('나머지:', num1%num2)
print('나누기(몫)', num1//num2)

나누기: 14.285714285714286
나머지: 2
나누기(몫) 14

### 문자열 더하기, 곱하기

In [3]:
str1 = 'Hello'
str2 = 'World'

print(str1+str2)

HelloWorld

In [4]:
star = '*'
print(star * 10)

**********

### 숫자, 문자열 더하기

In [5]:
num1 = 100
s3 = '7'
print(num1+s3) # TypeError : unsupported operand type(s) for +

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
int(s3)

7

In [7]:
print('숫자로 맞추기:', num1 + int(s3))
print('문자로 맞추기:', str(num1) + s3)

숫자로 맞추기: 107
문자로 맞추기: 1007

In [8]:
num1 = 50
num2 = 5
print('더하기 결과 :', num1 + int(num2))
print('빼기 결과 :', num1 - int(num2))
print('곱하기 결과 :', num1 * int(num2))
print('나누기 결과 :', num1 / int(num2))

더하기 결과 : 55
빼기 결과 : 45
곱하기 결과 : 250
나누기 결과 : 10.0

In [9]:
num1 = int(input('정수를 입력하세요 >> '))
num1

정수를 입력하세요 >> 77

77

In [10]:
num1 = int(input('정수를 입력하세요 >> ')) # 값 입력
num2 = int(input('정수를 입력하세요 >> ')) # 값 입력
print('더하기 결과 :', num1+int(num2)) 
print('빼기 결과 :', num1 - int(num2))
print('곱하기 결과 :', num1 * int(num2))
print('나누기 결과 :', num1 / int(num2))

정수를 입력하세요 >> 23
정수를 입력하세요 >> 3
더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667

In [ ]:
num1 = int(input('python 점수 입력 >> ')) # 값 입력
num2 = int(input('머신러닝 점수 입력 >> ')) # 값 입력
num3 = int(input('딥러닝 점수 입력 >> ')) # 값 입력
total = num1 + num2 + num3
avg = total / 3
print("합계 : {}".format(total)) # int
print("평균 : {}".format(avg)) # float

In [ ]:
# 반올림 하는 함수
round(3.13,1) # (반올림 하고 싶은 숫자, 출력하고 싶은 소수점자리)

In [ ]:
# 2의 3승
# **
2 ** 3

### 복합대입 연산자

In [11]:
num = 30
num += 3
print(num)

33

In [12]:
num += 3
num

36

In [13]:
# 뺄셈
num = 100
num -= 55 # num = num - 55
print(num)

45

In [14]:
num -= 20 # num(45) = num(45) - 30
print(num)

25

In [15]:
# 나눗셈
num = 100
num /= 2 # 50.0
num /= 2 # 25.0
print(num)

25.0

### 변수 치환

In [16]:
a = 10
b = 7

# a,b의 값을 치환
tmp = a
a = b
b = tmp
print(a,b)

7 10

In [17]:
a = 10
b = 7
a,b = b,a # 치환
print('a :',a)
print('b :',b)
print(a,b)

a : 7
b : 10
7 10

### 비교 연산자

In [19]:
# 입력값을 비교하게, 조건이 될 수 있음
# >, ==, <, <=, >=, !=
a = 3
b = 7
print(a > b) # False(파이썬에서 첫 글자 대문자로 써야 오류 발생X)
print(a <= b) 
print(a == b)
print(a != b)

False
True
False
True

In [20]:
import random # 라이브러리 불러오기 == import 라이브러리명

In [21]:
a = random.randint(1,10)
b = random.randint(1,10)
print(f'a:{a}, b:{b}')

print(a > b)
print(a <= b) 
print(a == b)
print(a != b)

a:4, b:10
False
True
False
True

### 논리 연산자, 멤버 연산자

In [22]:
# 논리 not, and, or
# 멤버 in, not in

In [23]:
# not : 논리 값을 뒤집는 역할
a = 10
b = 7
not a < b

True

In [24]:
not a == b

True

In [25]:
# and, or 조건들을 연결시킴
a < b and a == b # 둘 다 True -> True, 조건 1개라도 False -> False

False

In [26]:
a < b or a == b # 조건 1개라도 True -> True

False

In [27]:
score = 80
'합격' if score >= 60 else '불합격'

'합격'

In [28]:
score = 57
'합격' if score >= 60 else '불합격'

'불합격'

In [29]:
a = int(input("정수입력 >> "))
b = int(input("정수입력 >> "))

print(f'a: {a}') if a > b else print(f'b: {b}')

정수입력 >> 3
정수입력 >> 10
b: 10

### 멤버 연산자

In [32]:
s = 'Hello World'
'o' in s # 있음? 있으면 True, 없으면 False

True

not in # 없음? 없으면 True, 있으면 False

In [ ]:
# replace(' ', '') 공백 제거해주는 함수